*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.demo{
    background-color: aqua;
    text-align: center;
    font-size:xx-large;
    font-weight: bolder;
    font-style: italic;
}
i {
    background-color:aqua;
    text-align: center;
    width: 100%;
}
.pe{
    background-color: aqua;
    text-align: center;
    overflow: hidden;
}
.e{
    float: left; 
   width: 33.33%;
   padding: 30px;

}
.e img{
    width:100%;height:100%
}
.h{
    text-align: center;
    background-color: aqua;
    overflow: hidden;
} 
.b{
    float: left; 
}
.r{
    float: right;
    background-color: blueviolet;
    overflow: scroll;
    height: 400px;
    width: 400px;
}
.sos{
    height: 50px;
    width: 100%;
    background-color: aqua;
}